@media only screen and (max-width: 1920px) {
  .botbar {
    height: 45vh;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .botbar2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .botbar1 {
    padding: 0;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .botbar3 {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: right;
    text-align: right;
    gap: 1rem;
  }

  .intro-div1 {
    width: 60%;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 18px;
  }
  .intro-div2 {
    width: 60%;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 18px;
  }

  .bi-stars {
    font-size: 3rem;
  }

  /* WORKS STYLING */
  .botbar-works {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
  }

  .botbar-works:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }

  /* WORK SLIDER STYLING */

  .project-slide {
    margin-top: 2rem;
    margin-right: 0.4rem;
    border: solid 2px #121212;
    height: 45vh;
    border-radius: 1rem;
    box-shadow: 0.4rem 0.4rem #05060f;
    padding: 1rem;
  }

  .project-title {
  }

  .project-category {
    font-family: "Red Hat Text", sans-serif;
    margin: 0;
  }

  .project-desc {
    font-family: "Red Hat Text", sans-serif;
  }

  .project-detail {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    align-items: center;
  }

  .project-tools-container {
    display: flex;
    font-size: 2rem;
  }
  .project-tools {
    display: flex;
    gap: 4px;
  }

  /* BOTBAR  */

  #botbar-about {
    height: 45vh;
  }

  .about-row {
    height: 100%;
    position: relative;
  }

  .about-desc-col {
    padding-top: 1rem;
  }

  .philosophy-card {
    width: 100%;
    text-align: right;
  }
  .philosophy {
    color: #f5f5f5;
    -webkit-text-stroke: 1px #121212;
    font-size: 3rem;
    font-weight: 900;
    font-family: "Red Hat Display", sans-serif;
    letter-spacing: 6px;
    margin: 0;
    margin-bottom: -0.2rem;
  }

  .about-desc-col .blue-angel1 {
    font-size: 3rem;
    letter-spacing: 1.5px;
    font-family: "BlueAngel", sans-serif;
    padding-top: 0.7rem;
    margin-bottom: -0.8rem;
    border-top: 1px solid #121212;
  }

  .about-desc-col .blue-angel2 {
    font-family: "BlueAngel", sans-serif;
    letter-spacing: 1.2px;
    font-size: 3rem;
    border-bottom: 1px solid #121212;
  }

  .about-desc1-container {
    margin-top: 0.5rem;
    margin-left: 4rem;
    text-align: justify;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about-desc1 {
    line-height: 23px;
    margin: 0;
    padding: 0;
  }

  .about-slogan-col {
    padding: 0.9rem 0 0.8rem 1rem;
    flex-direction: column;
    justify-content: space-between;
  }
  .about-slogan-container {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .slogan-container {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    position: relative;
  }
  .slogan {
    font-family: "StretchPro", sans-serif;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
    position: relative;
    overflow: hidden;
    font-size: 1.5rem;
    background-color: #f5f5f5;
    z-index: 1;
    line-height: 1.5rem;
    padding-left: 0.5rem;
    margin-left: -0.5rem;
  }
  .slogan-line {
    z-index: -1;
    position: absolute;
    top: -0.5rem;
  }
  .slogan-line::after {
    content: " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .  ";
    font-size: 1.3rem;
  }
  #botbar-about
    > div
    > div.about-slogan-col.col-lg-4
    > div
    > div:nth-child(1)
    > div:nth-child(1) {
    padding-right: 0.5rem;
  }
  .about-education {
    display: flex;
    flex-direction: column;
  }
  .pup {
    text-transform: uppercase;
    font-weight: 200;
    font-size: 1.97rem;
    line-height: 2.2rem;
    font-weight: bold;
  }
  .pup2 {
    font-size: 2.61rem;
  }
  .cpe-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    margin-top: -0.9rem;
  }
  .cpe {
    font-weight: 400;
    margin: 0;
    letter-spacing: 1px;
  }
  .cpe-year {
    font-size: 3.8rem;
    -webkit-text-stroke: 1px black;
    color: #f5f5f5;
    margin: 0;
  }
  .shs-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin: 0;
    margin-top: -0.5rem;
  }
  .shs {
    font-weight: 400;
    margin: 0;
    letter-spacing: 1px;
    font-size: 1.1rem;
  }
  .shs-year {
    font-size: 3.8rem;
    margin: 0;
    font-size: 1.8rem;
  }
  .svias-row {
    border-top: solid 1px #121212;
    padding-top: 0.4rem;
  }
  .svias {
    font-size: 1.14rem;
    text-transform: uppercase;
  }
  .career-process {
    background-color: #121212;
    color: #f5f5f5;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .career {
    font-family: "StretchPro", sans-serif;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    letter-spacing: 2px;
  }
  .practice-col {
    padding: 1rem;
    padding-left: 0;
    margin-top: -0.5rem;
  }
  .practice {
    position: relative;
    width: 100%;
    font-size: 3.35rem;
    font-family: "StretchPro", sans-serif;
    -webkit-text-stroke: 1px #121212;
    color: #f5f5f5;
    margin-top: -1rem;
    z-index: -2;
    height: 3rem;
    padding: 0;
    letter-spacing: 4px;
    text-align: center;
  }

  .levi {
    position: absolute;
    width: 37%;
    bottom: 0;
    left: 0;
    z-index: -1;
    filter: drop-shadow(1rem 1rem #121212);
    /* display: none; */
  }

  /* CONTACT BOTBAR STYLING */
  #botbar-contact {
    height: 45vh;
    display: flex;
    padding: 0;
  }

  .botbar-contact1 {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-top: 0.2rem;
  }
  .hover {
    display: flex;
    justify-content: center;
    font-family: "StretchPro", sans-serif;
    margin: 0;
    -webkit-text-stroke: 1px #121212;
    color: #f5f5f5;
    font-size: 3.35rem;
    height: 3rem;
    letter-spacing: 1.8px;
    margin-top: -1rem;
  }

  .botbar-contact2 {
    padding-left: 1rem;
    position: relative;
    overflow: hidden;
  }
  .paper {
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  .contacts-div {
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: flex-end;
    height: 100%;
  }
  .contacts-div1,
  .contacts-div2,
  .contacts-div3 {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .contacts-div1 {
    margin-top: 1rem;
    margin-bottom: 0;
  }
  .div-email {
    margin-bottom: 1.5rem;
  }
  .contacts {
    font-weight: 100;
    margin: 0;
    position: relative;
  }
  .contacts:before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 0;
    background: #121212;
    transition: width 0.3s ease;
  }
  .contacts-icon1,
  .contacts-icon2,
  .contacts-icon3 {
    margin-left: 1rem;
    font-size: 2.5rem;
    transition: all 0.5s ease-in-out;
  }
  .email {
    font-size: 1.5rem;
    font-weight: 100;
    margin: 0;
  }
  .copy-icon {
    margin-left: 1rem;
    opacity: 0.7;
    margin-top: -4px;
    cursor: pointer;
  }
  .contacts-div1:hover .contacts-icon1 {
    transform: translateY(-6px);
  }
  .contacts-div2:hover .contacts-icon2 {
    transform: translateY(-6px);
  }
  .contacts-div3:hover .contacts-icon3 {
    transform: translateY(-6px);
  }
  .contacts-div1 a,
  .contacts-div2 a,
  .contacts-div3 a {
    text-decoration: none;
    color: #121212;
    display: flex;
    align-items: center;
  }
  .contacts-div1 .contacts:hover:before,
  .contacts-div2 .contacts:hover:before,
  .contacts-div3 .contacts:hover:before {
    width: 100%;
  }
  .contacts-icon1 .contacts:hover:before {
    width: 100%;
  }

  .merry {
    position: absolute;
    height: 350px;
    width: 350px;
    left: 100px;
    animation: goingMerry 2s infinite ease-in-out;
    filter: drop-shadow(1rem 1rem #121212);
  }

  /* BOTBAR PLAYGROUND STYLING */
  .botbar-playground {
    overflow: scroll !important;
    height: 40vh;
    padding: 0;
  }

  #botbar-playground {
    padding: 0;
  }

  .scrollable-section {
    overflow-y: scroll !important;
    max-height: 100vh;
  }
}

/* Scrollbar Track */
::-webkit-scrollbar {
  width: 12px; /* width of the scrollbar */
  overflow-y: scroll; /* always show scrollbar */
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
  background-color: #888; /* color of the scrollbar handle */
  border-radius: 6px; /* rounded corners */
}

/* Scrollbar Track when not hovered */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* color of the scrollbar track */
}

/* Scrollbar Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* color of the scrollbar handle on hover */
}

.scrollableContainer {
  overflow-y: auto;
  padding-right: 12px;
}

/* UNIVERSAL STYLING */

@keyframes goingMerry {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.card {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 200px;
  height: 200px;
  border-radius: 1rem;
  border: 2px solid #121212;
  overflow: hidden;
  transition: all 1s ease-in-out;
  box-shadow: 0.4rem 0.4rem #05060f;
}

.background {
  position: absolute;
  inset: 0;
  background: #f5f5f5;
}

.logo {
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
  transition: all 0.6s ease-in-out;
}

.logo .logo-svg {
  fill: #121212;
  width: 50px;
  height: 50px;
}

.orange {
  font-size: 3rem;
  transition: transform 1s ease-in-out;
}

.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icon .svg {
  fill: #121212;
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.box {
  position: absolute;
  padding: 10px;
  text-align: right;
  background: rgba(255, 255, 255, 0.389);
  border-top: 2px solid rgb(255, 255, 255);
  border-right: 1px solid white;
  border-radius: 10% 13% 42% 0%/10% 12% 75% 0%;
  box-shadow: rgba(100, 100, 111, 0.364) -7px 7px 29px 0px;
  transform-origin: bottom left;
  transition: all 1s ease-in-out;
}

.box::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.box:hover .svg {
  fill: #f5f5f5;
}

.box1 {
  width: 70%;
  height: 70%;
  bottom: -70%;
  left: -70%;
  border: 1px solid #121212;
  cursor: pointer;
}

.box2 {
  width: 50%;
  height: 50%;
  bottom: -50%;
  left: -50%;
  transition-delay: 0.1s;
  border: 1px solid #121212;
  cursor: pointer;
}

.box3 {
  width: 30%;
  height: 30%;
  bottom: -30%;
  left: -30%;
  transition-delay: 0.2s;
  border: 1px solid #121212;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.1);
}

.card:hover .box {
  bottom: -1px;
  left: -1px;
}

.card:hover .logo {
  transform: translate(0, 0);
  bottom: 15px;
  right: 15px;
}

.card:hover .orange {
  transform: scale(0.5);
}

.social-icons1,
.social-icons2,
.social-icons3 {
  font-size: 1.5rem;
  transition: transform 0.2s ease-in-out;
}

.box1:hover .social-icons1,
.box2:hover .social-icons2,
.box3:hover .social-icons3 {
  transform: scale(1.2);
}

.card a {
  color: #212529;
}

/* MAIN IMAGE ANIMATION */

/* #root > div > div.botbar > div > div > div.botbar2.col > svg {
  opacity: 0;
} */
#root > div > div.botbar > div > div > div.botbar2.col > svg > g:nth-child(3) {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) lightSpeedLeft;
  animation-delay: 0s;
}
#root > div > div.botbar > div > div > div.botbar2.col > svg > g:nth-child(4) {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) lightSpeedLeft;
  animation-delay: 0s;
}
#root > div > div.botbar > div > div > div.botbar2.col > svg > g:nth-child(5) {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) lightSpeedRight;
  animation-delay: 0s;
}
#root > div > div.botbar > div > div > div.botbar2.col > svg > g:nth-child(6) {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0s;
}
#root > div > div.botbar > div > div > div.botbar2.col > svg > g:nth-child(7) {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0s;
}
@keyframes lightSpeedRight {
  from {
    transform: translate3d(50%, 0, 0) skewX(-20deg);
    opacity: 0;
  }
  60% {
    transform: skewX(10deg);
    opacity: 1;
  }
  80% {
    transform: skewX(-2deg);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes lightSpeedLeft {
  from {
    transform: translate3d(-50%, 0, 0) skewX(20deg);
    opacity: 0;
  }
  60% {
    transform: skewX(-10deg);
    opacity: 1;
  }
  80% {
    transform: skewX(2deg);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: inherit;
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
