.midbar {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.midbar1 {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    cursor: pointer;
}
.midbar2 {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    cursor: pointer;
}
.midbar3 {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    cursor: pointer;
}
.midbar4 {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    cursor: pointer;
}
.midbar5 {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
}

.bolder {
    font-weight: 700;
  }