.midbar {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  position: relative;
}

.midbar1 {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  cursor: pointer;
}
.midbar2 {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  cursor: pointer;
}
.midbar3 {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  cursor: pointer;
}
.midbar4 {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  cursor: pointer;
}
.midbar5 {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
}

.bolder {
  font-weight: 700;
}

.midbar1.active, .midbar2.active, .midbar3.active, .midbar4.active {
  border: 2px solid #121212;
  border-radius: 16px;
  background-color: #f5f5f5; 
  box-shadow: 0.4rem 0.4rem #05060f;
}

